/**Universal Styles**/
html {
  font-size: 18px;
  line-height: 1.4;
}
 header {
  font-size: 1rem;
  font-family: Helvetica;
 }

 body {
  font-family: Helvetica, sans-serif;
  color: white;
 }

.header-container {
  display: flex;
  justify-content: space-around;
  width: 960px;
}

.header-bar {
  padding-top: 1rem;
}
.images {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: cadetblue;

}

/**Header**/
#logo {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/logo-white.png");
}
